body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.container {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    color: #4285f4;
}

.encouragement {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}

.content {
    margin-top: 20px;
    color: #ddd;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

a:visited {
    color: #1976D2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.image-gallery {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    -webkit-overflow-scrolling: touch;
}

.image-gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.image-gallery img {
    flex: 0 0 auto;
    height: 300px; /* Set the height of the images */
    margin-right: 10px; /* Add some space between images */
    min-width: 100px; /* Adjust based on your needs */
    object-fit: cover; /* Scale the images to cover the container */
}

.parent-container { /* Adjust the class name based on your structure */
    width: 100%;
    overflow-x: hidden; /* To prevent the entire page from scrolling horizontally */
}
